@import 'vendor';
@import 'variables';

/*--------------------------------------------------------------
# Layout and Page Elements
--------------------------------------------------------------*/
html, body {
  height: 100%;
  margin: 0;
}

.active-nav-link {
  font-weight: bold;
}

.content {
  min-height: 100vh;
}

.footer {
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  color: #777;
  height: 50px;
  padding: 15px 0;
}

.panel-title {
  text-transform: capitalize;
}

/*--------------------------------------------------------------
# SVG Elements
--------------------------------------------------------------*/
.polygons path {
  cursor: pointer;
  fill: black;
  stroke: lightsteelblue;
  transition: fill .25s;
  z-index: 100;
}

.polygons path:hover {
  fill: navy;
}

.fuel circle {
  fill: steelblue;
  z-index: 1;
}

.bar,
.dot {
  fill: #336eb7;
}

.bar:hover,
.dot:hover {
  cursor: pointer;
  fill: #31418f;
}

.arc path {
  stroke: #fff;
}

.arc path:hover {
  cursor: pointer;
}

.circlechart__label {
  font-size: 10px;
  fill: black;
  text-anchor: middle;
  text-transform: capitalize;
}

/*--------------------------------------------------------------
# Component Elements
--------------------------------------------------------------*/
.toggle {
  cursor: pointer;
}

.toggle--selected {
  color: red;
}

.tool-tip {
  position: absolute;
  z-index: 100;
}

.tool-tip__panel {
  min-width: 150px;
}

.tool-tip ul {
  padding-left: 10px;
}

