@import 'vendor';
@import 'variables';

/*--------------------------------------------------------------
# Layout and Page Elements
--------------------------------------------------------------*/
html, body {
  height: 100%;
  margin: 0;
}

.active-nav-link {
  font-weight: bold;
}

.content {
  min-height: 100vh;
}

.footer {
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  color: #777;
  height: 50px;
  padding: 15px 0;
}

.panel-title {
  text-transform: capitalize;
}

/*--------------------------------------------------------------
# SVG Elements
--------------------------------------------------------------*/
.polygons path {
  cursor: pointer;
  fill: black;
  stroke: lightsteelblue;
  transition: fill .25s;
  z-index: 100;
}

.polygons path:hover {
  fill: navy;
}

.fuel circle {
  fill: steelblue;
  z-index: 1;
}

.bar,
.dot {
  fill: #336eb7;
}

.bar:hover,
.dot:hover {
  cursor: pointer;
  fill: #31418f;
}

.arc path {
  stroke: #fff;
}

.arc path:hover {
  cursor: pointer;
}

.circlechart__label {
  font-size: 10px;
  fill: black;
  text-anchor: middle;
  text-transform: capitalize;
}

/*--------------------------------------------------------------
# Component Elements
--------------------------------------------------------------*/
.toggle {
  cursor: pointer;
}

.toggle--selected {
  color: red;
}

.tool-tip {
  position: absolute;
  z-index: 100;
}

.tool-tip__panel {
  min-width: 150px;
}

.tool-tip ul {
  padding-left: 10px;
}

.selected-conditions-heading {
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  .selected-conditions-heading {
    margin-top: 25px;
  }
}

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
.bar--animated {
  animation: bar-popup 1s forwards;
  transform-origin: 0 100%;
}
.bar__label--animated {
  animation: label-popup .9s forwards;
  transform-origin: 0 100%;
}
.path--animated,
.dot--animated {
  animation: slidein .7s forwards;
  transform-origin: 0 100%;
}
.circlechart--animated {
  animation: spin-into-view 1s forwards;
}
.circlechart__label--animated {
  animation: expand-into-view 1s, forwards;
}
@keyframes bar-popup {
  from {transform: scaleY(0);}
  to {transform: scaleY(1);}
}
@keyframes label-popup {
  from {transform: translateY(300px);}
  to {transform: translateY(0);}
}
@keyframes slidein {
  from {transform: translateX(-300px);}
  to {transform: translateX(0);}
}
@keyframes spin-into-view {
  from {
    transform: scale(0) rotate(360deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes expand-into-view {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
